<%= link_to "About Us", about_path %>
<%= link_to "Register Now", registration_path %>
<h1>Get Out and Get Fit!<h1>
<p><h3>On Wheels or On your Feet... find out race events <%= link_to "here!", "http://www.graaab.com" %><h3></p>

<p><h3>To register, click <%= link_to "here!", "registration" %><h3></p> 

<p><h4><%= link_to "about us", "about" %><h4></p>